@import '../core/fonts';
@import '../core/colors';
@import '../core/mixins';

html, body{
    font-size: 16px;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-dark-3;

}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.open-menu {
    width: 100vw !important;
    opacity: 0.99;
    transform: translateX(-100%);
}
a{
    text-decoration: none;
    color: $color-dark-1;

    &:hover{
        text-decoration: underline;
        color: $color-dark-1;
    }
}

button{
    padding: 10px 35px;
    font-family: $font-poppins;
    border: 1px solid $color-dark-1;
    background-color: transparent;
    color: $color-dark-1;
    transition: all 0.2s;
    &:hover{
        background-color: $color-dark-1;
        color: $color-white;
    }
}
.btn-white{
    border: none;
    background-color: $color-white;
    color: $color-dark-2;
    border: 1px solid $color-dark-2;
}
.btn-theme {
    border: none;
    background-color: $color-theme-1;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 35px;
    &:hover {
        background-color: $color-dark-1;
        color: $color-white;
    }
}
.linkBtn{
    color: white;
}

.contactBanner {
    display: none;

    @include lg {
        display:block;
        img {
            width: 100%;
            height: auto;
        }
    }
}

    .Forms {
        display: flex;
        justify-content: center;
        align-items: center;

        textarea{
            width:100%;
        }
    }

    a {
        float: right;

    }

input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 0;
    background-color: rgb(252, 250, 250);
}

    .checkbox {
        width: auto;
        height: auto;
        margin: 50px 0;
    }

button {
    background-color: $color-theme-1 !important;
    
    border: 0 !important;
    color: white !important;
}

    span a {
        float: right;
        text-decoration: none;
    }

    .col-12 {
        margin: 20px 0;
    }

    textarea {
        border: 0;
        background-color: rgb(252, 250, 250);
    }
.tags {
    display: block;
}
footer {
   
        background-color: $color-dark-1;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-dark-4;
        margin-top: auto;


        p {
            margin: 0;
        }
    
}
#fullPrice {
    text-decoration: line-through;
    margin: 15px 10px;
    }
.form-border {
    border: 1px solid black;
    box-shadow: 9px 8px 20px -5px rgba(0,0,0,0.59);
    -webkit-box-shadow: 9px 8px 20px -5px rgba(0,0,0,0.59);
    -moz-box-shadow: 9px 8px 20px -5px rgba(0,0,0,0.59);
}
.salesCard {
    margin: 10px 0px;
}
.product-cards{
    flex-wrap: wrap;
    
}
.product-card-img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}
.adminProducts{
    border: 1px solid gray;
    padding: 10px 0px;
    margin: 10px;
}
.roleselect{
    cursor: pointer;
}
