<a class="link" asp-controller="admin" asp-action="GetUsers">See all users</a>
<a class="link" asp-controller="admin" asp-action="CreateUser">Create user</a>
<a class="link" asp-controller="admin" asp-action="CreateProduct">Create Product</a>