@model ProductViewModel;

<div class="salesCard my-3 col-6 col-md-3 d-flex justify-content-center">
	<a asp-controller="product" asp-action="Details" asp-route-id="@Model.Id">
		<img class="product-card-img" src="@Model.ProductImage" alt="@Model.Name"/>
		<div class="productInfo text-center my-2">
			<span class="product-card-title">@Model.Name</span>
			@if (Model.Discount != 0)
			{
				<div class="d-block">
					<span id="fullPrice" class="product-card-price">$@string.Format("{0:F0}",Model.Price)</span>
					<span class="product-card-price">$@string.Format("{0:F0}", Model.Price - (Model.Price * Model.Discount / 100))</span>
					<span class="product-card-cart ms-2"><i class="fa-solid fa-cart-shopping"></i></span>
				</div>
			}
			else
			{
				<div class="d-block">
					<span class="product-card-price">$@string.Format("{0:F0}",Model.Price)</span>
					<span class="product-card-cart ms-2"><i class="fa-solid fa-cart-shopping"></i></span>
				</div>
			}

		</div>
	</a>
</div>
