@model LoginViewModel
@{
	ViewData["Title"] = "Logga in";
}
<section class="Forms mt-5">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-lg-6">
				<form method="post" novalidate>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<p>Login to your account</p>
					<hr>
					<div class="mb-3">
						<label asp-for="Email" class="form-label"></label>
						<a asp-controller="register" asp-action="register">Don't have an account yet?</a>
						<input asp-for="Email" />
						<small><span asp-validation-for="Email" class="text-danger"></span></small>
					</div>
					<div class="mb-3">
						<label asp-for="Password" class="form-label"></label>
						<a asp-controller="#" asp-action="#">Forgot your password?</a>
						<input asp-for="Password"  />
						<small><span asp-validation-for="Password" class="text-danger"></span></small>
					</div>
					<div class="rememberMe">
						<input type="checkbox" class="checkbox">
						<label for="password" class="checkboxlabel"> Save my name and email.</label>
					</div>
					<button class="btn btn-success mt-2" type="submit">Logga in</button>
				</form>
			</div>
		</div>
	</div>

</section>
