@inject ProductService productService
@{
	var Cookies = productService.GetCookies();
	int counter = 0;
	Cookies.Reverse();
}

@if (Cookies.Count > 0)
{
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center flex-column">
				<div class="col-12 text-center">
					<h1>Recently Viewed Products</h1>
				</div>
				<div class="col-12 d-flex justify-content-evenly product-cards">
					@foreach (var cookie in Cookies)
					{
					<partial name="/Views/Partials/Cards/_ProductCard.cshtml" model="cookie" />
					counter++;
					if (counter == 3)
					{
					break;
					}
					}
				</div>
			</div>
		</div>
	</div>
	



}