@model List<ProductViewModel>
@inject ProductService productService
@{
    int counter = 0;
    var products = await productService.GetAllAsync();
}



<section class="topSelling">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <h2>Top selling products this week</h2>
            </div>
            <div class="product-cards">
                @foreach(var product in products)
                {
                    if(product.Popular == true)
                    {
                        <partial name="/Views/Partials/Cards/_ProductCard.cshtml" model="product" />
                        counter++;
                        if(counter == 6)
                        {
                            break;
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>