@model List<ProductViewModel>
@inject ProductService productService
@{
    int counter = 0;
    var products = await productService.GetAllAsync();
}
<section class="topSelling">
    <h2>Top selling products this week</h2>
    <div class="product-cards">
        @foreach(var product in products)
        {
            if(product.Popular == true)
            {
                <partial name="/Views/Partials/Cards/_OnSaleProductCard.cshtml" model="product" />
                counter++;
                if(counter == 6)
                {
                    break;
                }
            }
        }
        

    </div>
    <div class="buttons">
        <button><i class="fa-solid fa-chevron-left"></i></button>
        <button><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</section>